/* Base styles */
body {
    font-family: Georgia, serif;
    font-size: x-large;
    background-color: #eaf4f5;
    margin: 0;
    padding: 0;
}

.dark {
    background-color: #240e0e;
    color: #f0f0f0;
}

.upload-btn {
    margin: 1rem 0;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
}

header div h1 {
    font-weight: 700;
    font-size: 6vw;
    color: #3c36af;
    text-align: center;
    
}

header p {
    font-size: 1.5rem;
    text-align: center;
}

.profile-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.profile-section img {
    border-radius: 9999px;
    max-width: 100%;
}

/* Sections */
.about-me, .contact-info, .skills-education section, .experience, .certificates {
    border-radius: 0.5rem;
    background-color: #5a9df0;
    padding: 1.25rem;
    margin: 1.75rem;
    box-shadow: 0px 4px 10px rgba(128, 0, 128, 0.5);
}

.about-me h2, .contact-info h2, .skills-education h2, .experience h2, .certificates h2 {
    font-size: 2.5rem;
    color: #e0f2fe;
    font-weight: 800;
    margin: 1.25rem 0;
}

/* Skills and Education section */
.skills-education {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    margin: 0; /* Fixed margin to prevent double spacing */
}

.skills-education section {
    flex: 1;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.bold { font-weight: bold; }
.text-small { font-size: 1rem; }
.entry-container { margin-bottom: 10px; }

footer {
    text-align: center;
    font-size: 1.125rem;
    padding: 2rem 0;
}

/* Buttons */
button {
    position: fixed;
    top: 1rem;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #020617, #0f172a);
    color: white;
    z-index: 999;
}

button:first-of-type {
    right: 1rem;
}

button:last-of-type {
    right: 12rem;
}

button:hover {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 768px) {
    body {
        font-size: large;
    }

    header div h1 {
        font-size: 2.5rem;
    }

    header p {
        font-size: 1.25rem;
    }

    .skills-education {
        flex-direction: column;
    }

    .about-me, .contact-info, .skills-education section, .experience {
        margin: 1rem;
        padding: 1rem;
    }

    button {
        position: static;
        margin: 1rem auto;
        display: block;
    }
}

/* Print */
@media print {
    /* Hide specific elements during printing */
    .upload-btn, 
    button {
        display: none;
    }  
}
